.verify-info-section{
    padding: 50px 100px;
    position: relative;
}
.verify-info-section::after{
    position: absolute;
    content: '';
    background-image: url(../images/Untitled-design-\(5\).png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 200px;
    right: 0;
    width: 90px;
    height: 268px;
}
.verify-info-main{
    max-width: 978px;
    background-color: #FFFFFF;
    margin: auto;
    box-shadow: 0px 0px 42px 0px #2D9B8E12;
    border-radius: 20px;
    position: relative;
}
.verify-info-main::after{
    position: absolute;
    content: '';
    background-image: url(../images/Untitled-design-\(3\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 114px;
    top: 0;
    left: 0;
    border-radius: 20px 0px 0px 0px;
}
.verify-info-main::before{
    position: absolute;
    content: '';
    background-image: url(../images/Untitled\ design\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 130px;
    height: 114px;
    right: 0;
    bottom: 0;
    border-radius: 3500px 0px 0px 0px;
}
.verify-info-main{
    padding: 100px 80px;
}
.verify-title h2{
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F1F1F;
    padding-bottom: 16px;
}
.verify-title span{
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #cbb17a;
}
.verify-title img{
    display: flex;
    margin: auto;
    width: 100%;
    object-fit: scale-down;
}
.v-info-detail{
    position: relative;
}
.v-info-detail label{
    width: 100%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1F1F;
    padding-bottom: 16px;
}
.v-info-detail input{
    width: 100%;
    max-width: 397px;
    height: 50px;
    border: 1px solid #CBB17A;
    border-radius: 6px;
    padding-left: 16px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1F1F;

}
.v-info-detail{
    width: 100%;
    max-width: 397px;
}
.verify-info-detail-main{
    padding-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.veriy-info-btn button{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #cbb17a;
    border: none;
    margin-top: 40px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FCFCFC;
}
.pd-131{
    padding-bottom: 131px;
}
.pd-50{
    padding-bottom: 50px;
}
.know-section{
    padding: 100px 0px 100px 0px;
}
.k-card1{
    padding: 24px 16px;
    width: 200%; 
    max-width: 305px; 
    box-shadow: 0px 0px 26px 0px #2D9B8E12;
    background-color: #FFFFFF; 
    border-radius: 20px;
    text-align: center;
    
}
.sub-btn:hover {
    background: black;
}
.k-card1:hover {
    background: rgb(255, 235, 196);
}
.k-bx{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #2D9B8E0F;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.k-card1 p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F1F1F;
    padding-top: 24px;
    flex-wrap: wrap;
}
.know-cards{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}
.roundup-class-section{
    padding: 100px 0px 100px;
    background-color: #FFEBC4;
    position: relative;
}
.roundup-class-section::after{
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 400px;
    top: -85px;
    left: 0;
    z-index: -1;
}
.roundup-im img{
    width: 100%;
    max-width: 1030px;
}
.roundup-txt h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color :#1F1F1F;
}
.roundup-txt p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
    padding-top: 24px;
}
.roundup-txt ul {
    list-style-type: circle; 
    margin-left: 25px;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 16px;
}
.roundup-txt li {
    padding-left: 5px;
    padding-top: 8px;
    text-indent: -1em;
}
  
.roundup-txt li:before {
    content: "•";
    padding-right: 5px;
  }

.roundup-txt{
    max-width: 618px;
}
.roundup-main{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.roundup-timeline-section{
    padding: 100px 0px 100px 0px;
    background-color: #FFFFFF;

}
.timeline-title{
    max-width: 849px;
    width: 100%;
    padding-top: 40px;
}
.timeline-title h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1F1F;
}
.timeline-title p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #676767;
}
.r-time-card{
    max-width: 305px;
    padding: 24px 16px 16px 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 26px 0px #2D9B8E12;
    border-radius: 12px;
}
.r-time-card h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1F1F;
}
.r-time-card h4{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #7A7A7A;
    padding-top: 12px;
}
.r-time-card p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #676767;
    padding-top: 20px;
}
.roundup-timeline-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 32px;
}
.mx-289{
    max-width: 289px;
}
.error-message {
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    color: red;
    padding-top: 10px;
    position: absolute;
    content: '';
    bottom: -21px;
}
.r-time-card span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #7A7A7A;
    padding-bottom: 8px;
}














@media screen and (max-width: 1300px) {
.roundup-timeline-section{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 1100px) {
    .know-cards{
        flex-wrap: wrap;
        justify-content: center;
    }

    .roundup-timeline-cards{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 992px) {
    .verify-info-detail-main{
        flex-wrap: wrap;
        justify-content: center;
    }
    .pd-131{
        padding-bottom: 90px;
    }
    .roundup-main{
        flex-wrap: wrap;
    }
    .verify-info-section::after{
        width: 70px;
        height: 215px;
    }
    .roundup-class-section::after{
        width: 115px;
        height: 310px;
    }

}
@media screen and (max-width: 768px) {
    .verify-info-section{
        padding: 25px 60px;
    }
    .verify-title h2{
        font-size: 27px;
        line-height: 34px;
    }
    .verify-title span{
        font-size: 27px;
        line-height: 34px;
    }
    .hero-txt h2{
        font-size: 45px;
        line-height: 50px;
    }
    .hero-im {
    margin-left: 100px;
    width: 78%;
    margin-right: 100px;
    max-width: 100px;
  }
  
    .hero-txt span{
        line-height: 50px;
        font-size: 45px;
    }
    .pd-131{
        padding-bottom: 40px;
    }
    .know-section{
        padding: 50px 0px 50px 0px;
    }
    .roundup-class-section{
        padding: 50px 0px 50px 0px;
    }
    .roundup-txt h2{
        font-size: 20px;
    }
    .roundup-txt p{
        font-size: 16px;
        line-height: 28px;
        padding-top: 16px;
    }
    .roundup-main{
        padding-top: 30px;
    }
    .roundup-timeline-section{
        padding: 50px 0px 50px 0px;
    }
    .timeline-title{
        padding-top: 30px;
    }
    .roundup-timeline-cards{
        padding-top: 25px;
    }
    .footer-section{
        padding-top: 50px;
    }
    .f-bar-link{
        flex-wrap: wrap;
    }
    .verify-info-section::after{
        width: 50px;
        height: 150px;
    }
    .roundup-class-section::after{
        width: 90px;
        height: 240px
    }
}
@media screen and (max-width: 600px) {
    .verify-info-main{
        padding: 100px 50px;
    }
    .verify-info-main::before{
        width: 110px;
        height: 90px;
    }
    .verify-info-main::after{
        width: 120px;
        height: 100px;
    }
    .roundup-class-section::after{
        width: 60px;
        height: 170px;    
    }
    .r-time-card h2{
        font-size: 20px;
    }
    .r-time-card h4{

        font-size: 14px;
        padding-top: 5px;
    }
    .r-time-card p{
        font-size: 13px;
        padding-top: 13px;
    }
    .r-time-card span{
        font-size: 13px;
    }
}
@media screen and (max-width: 500px) {
    .verify-info-main{
        padding: 100px 30px;
    }
    .verify-info-section{
        padding: 25px 30px;
    }
    .verify-info-main{
        padding: 100px 25px;
    }
    .verify-title h2{
        font-size: 22px;
        line-height: 30px;
    }
    .verify-title span{
        font-size: 22px;
        line-height: 30px;
    }
    .verify-info-section::after{
        width: 30px;
        height: 110px;
    }
    .roundup-class-section::after{
        width: 41px;
        height: 120px;
    }
    .k-card1 p{
        font-size: 14px;
        line-height: 23px;
    }
}
@media screen and (max-width: 400px) {
    .verify-title img{
        max-width: 200px;
    }
    .mx-ust img{
        max-width: unset;
    }
    .mx-289{
        max-width: 150px !important;
    }
}
ul {
    list-style-type: circle;
}